@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .perspective {
    perspective: 1000px; /* تنظیم پرسپکتیو برای ایجاد افکت ۳ بعدی */
  }

  .flip-card {
    transform-style: preserve-3d; /* حفظ حالت ۳ بعدی */
    box-shadow: 0 10px 20px rgba(252, 250, 250, 0.658); /* سایه کارت */
  }

  .flip-card-inner {
    transition: transform 0.8s; /* زمان انیمیشن برای چرخش */
    transform-style: preserve-3d; /* حفظ حالت ۳ بعدی */
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* چرخش کارت در حالت هاور */
  }

  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden; /* مخفی کردن سمت پشتی */
    position: absolute; /* موقعیت‌دهی مطلق */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; /* حفظ گردی حاشیه */
  }

  .rotate-y-180 {
    transform: rotateY(180deg); /* چرخش ۱۸۰ درجه */
  }
}
